<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button auto-hide="false"></ion-menu-button>
      <ion-button>
        <ion-icon slot="icon-only" name="search"></ion-icon>
      </ion-button>
      <ion-title>CRAS</ion-title>
    </ion-buttons>
    
    <!-- Button at the end of the toolbar -->
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon slot="icon-only" name="person-circle"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-item>
  <ion-text>
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quod omnis cumque aperiam eaque! Voluptatum cumque placeat, earum libero ipsam molestiae optio. Sed omnis tempore odit sapiente laboriosam, consequuntur aspernatur iure!
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur deleniti recusandae similique soluta et repellat asperiores, nihil laudantium distinctio ab aspernatur incidunt rerum quaerat sequi ipsa deserunt ipsam eaque sint?
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Corrupti consequuntur alias quam? Nisi tempora ab perferendis, culpa labore est distinctio maxime magni itaque id nemo voluptatibus magnam officia nam dolorum?
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam vel iure accusantium culpa! Amet voluptate similique, culpa fugit consectetur error eligendi quod inventore asperiores molestias tempore laborum facere nihil ullam.
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore quisquam dignissimos vitae laboriosam sunt velit quae. Corrupti saepe, voluptas, beatae aliquam adipisci earum reiciendis consequuntur ut sit natus necessitatibus obcaecati!
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor, sunt beatae quo fugit voluptas fugiat quas officia natus eligendi vitae quos officiis aliquam est odio quae nostrum exercitationem in vero?
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium totam, exercitationem dolores delectus earum nihil nisi itaque optio et veniam. Perferendis, iste. Tempora inventore beatae qui sapiente nostrum aspernatur nobis?
  </ion-text>
</ion-item>

