.avatar-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.avatar-container ion-avatar {
  height: 150px;
  width: 150px;
}
  
.sec-button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.sec-button-container ion-avatar {
  margin-bottom: 10px;
}

.sec-button-container ion-label {
  text-transform: capitalize;
}

.horizontal-scroll-container {
  display: flex;
  overflow-x: auto;
}

.horizontal-segment {
  overflow: hidden;
  flex: 0 0 auto;
}

.segment-row {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
}

.sec-button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1; 
  box-sizing: border-box;
  text-align: center;
}

.card-container {
  display: flex;
  justify-content: space-between; /* Espaço entre os cards */
  padding: 16px; /* Espaçamento interno */
}

.card-container ion-card {
  flex: 1; /* Distribui espaço igualmente entre os cards */
  margin-right: 5px; /* Espaçamento entre os cards */
}

.card-container {
  overflow-x: scroll;
  white-space: nowrap;
}

.card-row {
  display: inline-block;
}

ion-card {
  width: 200px;
  margin-right: 10px;
  display: inline-block;
  vertical-align: top;
}