#logo {
  margin: auto;
  margin-top: 5%;
  margin-bottom: 5%;
  width: 50%;
  max-width: 100%;
  height: auto;
}

ion-label {
  text-transform: capitalize;
}

ion-card {
  width: 60%;
  display: inline-block;
}

ion-card:active {
  border: 2px solid #007bff;
}

.card-container {
  overflow-x: scroll;
  white-space: nowrap;
}