<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button auto-hide="false"></ion-menu-button>
      <ion-button>
        <ion-icon slot="icon-only" name="search"></ion-icon>
      </ion-button>
      <ion-title>Promoção Social</ion-title>
    </ion-buttons>
    
    <!-- Button at the end of the toolbar -->
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon slot="icon-only" name="person-circle"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">promocao-social</ion-title>
    </ion-toolbar>
  </ion-header>
</ion-content>

<ion-list>
  <div class="options-list">
    <ion-button expand="block" *ngFor="let item of options" (click)="openPage(item.link)">
      <ion-label>{{item.tittle}}</ion-label>
    </ion-button>
  </div>
</ion-list>

<ion-label>Funcionários</ion-label>
<div class="horizontal-scroll-container">
  <ion-segment [scrollable]="true" class="horizontal-segment">
    <div class="segment-row">
      <ion-segment-button *ngFor="let pessoa of funcionarios" (click)="openPage(pessoa.link)">
        <div class="person-button-container">
          <ion-avatar><img alt="Logo {{pessoa.tittle}}" [src]="pessoa.icon"></ion-avatar>
          <ion-label>{{pessoa.tittle}}</ion-label>
          <ion-label>{{pessoa.area}}</ion-label>
        </div>
      </ion-segment-button>
    </div>
  </ion-segment>
</div>